/***********/
/* Header  */
/***********/

header.page-header {
    margin: 20px 0px 20px;
	text-align: center;
}

h2 {
    margin-top: 0px;
}

/*************/
/* Common    */
/*************/
td.one-action {
   width: 48px;
}
td.two-actions {
   width:96px;
}
td.three-actions {
   width:144px;
}

/***************/
/* Form        */
/***************/
#form_skeleton_new {
   margin-bottom: 10px;
   padding:10px;
   background-color: lightgray;
}

/***************/
/* Element     */
/***************/
.newitem {
   margin-bottom: 15px;
}
